.user-block
  .shell
    .my-vision
      .my-vision__text 
        | M
        span y
        | .
      .my-vision__text
        | V
        span i
        
    .make-order
      | make order
      i
  
    form.lang
      label.lang__radio(for='option-two')
        input(type='radio', name='optionsRadios', value='option1', checked='')
        i
        | EN
      label.lang__radio(for='option-three')
        input(type='radio', name='optionsRadios', value='option2')
        i
        | RU


    .sound
