.user-block
  .shell
    .my-vision
      .my-vision__text 
        | M
        span y
        | .
      .my-vision__text
        | V
        span i
        
    .make-order
      | make order
      i
  
    .switcher
      form.lang
        input#toggle(type='checkbox', name='optionsRadios', value='option1', checked='')
        div.pointer
        label.label(for='toggle')
          i
      
        
    .sound
      .speaker
      audio#player
        source(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/15309/test.mp3', type='audio/mp3')
        source(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/15309/audio.ogg', type='audio/ogg')
