li
  .content__item.animated
    .content__container
      aside.aside
        .aside__content
          .aside__title Lorem ipsum 
          .aside__subtitle dolor sit amet,
          .aside__subtitle consectetur adipiscing elit.
       
     
      .desc
        .desc__outer
          .desc__main-title portofino
          .desc__subtitle beach resort
        ul.desc__list.split-list
          li.desc__item  Lorem ipsum
          li.desc__item  Donec pharetra
          li.desc__item  Nunc porta
          li.desc__item  Nullam sed
          li.desc__item  Quisque viverra 
          li.desc__item  Vestibulum porta
          
      img.content__image(src=require('../images/item-image.jpg') alt="")
        
      .desc__text 
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod nulla vitae sem blandit, id interdum magna porttitor. 
        .view-more__content
          | More Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod nulla vitae sem blandit, id interdum magna porttitor. 
      
      .bordered
      .bordered-arrowed
        .bordered-arrowed__top-line
        .bordered-arrowed__bottom-line
        a.content__more(href='javascript:;') view more

  .view-more 
    .view-more__title view more
