footer.footer
  .shell
    .footer__balls
      i
      i
      i
    ul.footer__menu
      li.footer__item 
        a(href="javascript:;") Home
        i
      li.footer__item.active 
        a(href="javascript:;") Projects 
        i
      li.footer__item 
        a(href="javascript:;") About us
        i
      li.footer__item 
        a(href="javascript:;") Contacts
        i
