
.back {
  width: 110px;
  position: fixed;
  padding-left: 83px;

  height: 100%;

  z-index: 30;
  overflow: hidden;

  @media screen and (max-width: 1000px) {
    display: none;
  }

  // outline: 4px dashed rgba(153, 50, 205, 0.47);
  // outline-offset: -4px;

  &__line-top {
    /* Style for "Layer 19 c" */
    width: 1px;
    height: 143px;
    background-color: #fbf9ff;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      /* Style for "Эллипс 2 к" */
      width: 8px;
      height: 8px;
      background-color: #fbf9ff;
      bottom: -4px;
      left: -4px;
      border-radius: 50%;
    }
  }

  &__line-bottom {
    /* Style for "Layer 19 c" */
    position: absolute;
    top: 277px;
    width: 1px;
    bottom: 0;
    background-color: #fbf9ff;
  }

  &__arrow {
    display: block;
    position: absolute;
    top: 145px;
    left: 0;
    width: 110px;
    height: 130px;
    background: url('images/bg-back-dots.png') no-repeat;
    background-position: right 5px top 10px;
    cursor: pointer;
    user-select: none;

    transition: 0.6s ease-out;
    &:hover {
      // outline: 2px solid #e6b501;

      &::before {
        color: #e6b501;
      }
    }

    &::before {
      content:'v';
      font-size: 45px;
      position: absolute;
      top: 40px;
      left: 70px;
      color: #fff;
      transform: rotate(90deg);
      transition: 0.4s ease-out;
    }
  }
}
