
.user-block {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 145px;
  z-index: 1;

  // outline: 2px dashed dodgerblue;
  // outline-offset: -2px;

  @media #{$tablet} {
    width: 100%;
  }

  & .shell {
    @include clearfix;

    @media #{$tablet} {
      padding-left: 36px;
      padding-right: 36px;
    }
  }


  & .my-vision {
    float: left;
    width: 150px;
    height: 144px;
    font-size: 0;

    @media #{$wide} {
      display: none;
    }

    &__text {
      display: inline-block;
      @include font(400, normal, 37px, 144px, $helvRegular);
      color: #ffffff;
      text-transform: uppercase;
      letter-spacing: 5px;

      & span {
        @include font(100, normal, 37px, 144px, $helvRegular);
        color: #8c8c8c;
        letter-spacing: 5px;
        text-transform: lowercase;
      }

    }
  }

  & .make-order {
    width: 360px;
    text-align: center;

    @media screen and (min-width: 1001px) {
      display: none;
    }

    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);

    @include font(300, normal, 37px, 37px, $helvLight);
    color: #bbb;
    letter-spacing: 8px;
    text-transform: uppercase;

    & i {
      position: absolute;
      width: 17px;
      height: 36px;
      left: 50%;
      top: -50px;
      z-index: -1;
      transition: 0.3s ease-out;
      transform: translateX(-50%);

      &::before,
      &::after {
        content: '';
        position: absolute;

      }

      &::before {
        height: 28px;
        width: 3px;
        background: #414042;
      }

      &::after {
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background: #fff;
        left: 1px;
        top: 20px;
      }
    } //- EOF <i>
  }
}



.lang {

    width: 150px;
    height: 144px;

    @media #{$wide} {

      float: left;
    }
    @media #{$tablet} {

      float: right;
    }

  display: block;
  position: relative;

  // outline: 2px dashed crimson;
  // outline-offset: -2px;


  & .label {

    width: 150px;
    height: 50px;
    // background: #ccc;
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%,-50%);
    cursor: pointer;



    // &.active {
    //   color: #585859;
    // }
  }

  & #toggle {
    visibility: hidden;
  }
}

.lang #toggle ~ label i {
  display: block;

  background: #727174;
  height: 3px;
  width: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;

  @media #{$wide} {
    height: 1px;
    width: 26px;
  }

}

.lang #toggle ~ label i:before,
.lang #toggle ~ label i:after {
  @include font(300, normal, 12px, 12px, $helvThin);
  color: #5e5e5e;
  position: absolute;

  @media #{$tablet} {
    @include font(300, normal, 37px, 37px, $helvThin);
  }
}

.lang #toggle ~ label i:before {
    content: "EN";
    left: -58px;
    top: -14px;

    @media #{$wide} {
      left: -30px;
      top: -6px;
    }
}

.lang #toggle ~ label i:after {
    content: "RU";
    left: 38px;
    top: -14px;

    @media #{$wide} {
      left: 36px;
      top: -6px;
    }
}

.lang #toggle ~ div.pointer:before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #fff;

    top: 61px;
    left: 81px;
    z-index: 1;
    -moz-transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;


    @media #{$wide} {
      top: 65px;
      width: 8px;
      height: 8px;
    }
}

.lang #toggle:checked ~ div.pointer:before {
    content: '';
    top: 65px;
    left: 58px;

    @media #{$tablet} {
      top: 61px;
    }
}

.lang #toggle:checked ~ label i:before  {
  color: #fff;
  @media #{$wide} {
    @include font(300, normal, 12px, 12px, $helvThin);
  }
  @media #{$tablet} {
    @include font(500, normal, 37px, 37px, $helvMedium);
  }
}

.lang #toggle:not(:checked) ~ label i:after  {
  color: #fff;
  @media #{$wide} {
    @include font(300, normal, 12px, 12px, $helvThin);
  }
  @media #{$tablet} {
    @include font(500, normal, 37px, 37px, $helvMedium);
  }
}


.sound {
  width: 90px;
  height: 75px;
  float: right;
  position: relative;

  @media #{$tablet} {
    display: none;
  }
}

#player {
  height: 0;
  width: 0
}

.speaker {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAOCAYAAAD9lDaoAAAA/klEQVQoU3WRu07DUBBEz2A714QiVHS0iIKahihQIUFBxdciilDxAwjxElAhARWiwFe+9iAH3OQx1Up7dme0K1bI9jBFxoJcyxjba6liIjFElAuQ7Y0mcmTzk5dMU8Wh/O2tWDACWiDLYdcZn0Wh686lrnysFH0ODNzy5owdifui0FUf4w+qfJrgqSz1EKP3bGJZ6nEBasRrCLrtAndNSZ31TP2mk0a8hKA72+U/VM1DZ414DkE3de2DtuWrqxc2IUZu+VDGtlve88BFbzmzs10AoZ9MFfuILA9MJdUzaP7itrPu2oiQBy5TNXvNctW1x2rYRAxWQrbXU2QiKH4BHwOSOiTw7NUAAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  width: 9px;
  height: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
