
.header {

  margin-top: 145px;
  padding-top: 15px;
  margin-left: 170px;






  background: url('images/bg-header-dots.png') no-repeat;
  background-position: left 25px top 10px;

  // outline: 2px dashed dodgerblue;
  // outline-offset: -2px;

  @media #{$wide} {
    width: 635px;
    float: left;
  }

  @media #{$tablet} {
    background: url('images/bg-header-dots--tablet.png') no-repeat;
    background-position: left 87px top 5px;
    margin-left: 0;
    margin-top: 155px;
  }

  & .shell {
    margin: 0 auto 80px;

    @media #{$tablet} {

      padding-left: 87px;
      padding-right: 87px;

        margin: 0 auto 70px;
    }

    @media #{$wide} {
      max-width: 1920px;
    }
  }

  & .container {

  }

  & .stage {

  }

  &__title {
    position: relative;
    @media #{$wide} {
      margin-left: 87px;
    }
  }

  &__main-title {
    @include font(600, normal, 74px, 69px, $helvBold);
    color: #efefef;

    position: relative;

    @media screen and (min-width: 1001px) {
      margin-bottom: 8px;
    }
    @media screen and (max-width: 1000px) {
      @include font(600, normal, 112px, 112px, $helvBold);
      left: -7px;
    }

    &::before { //- @@@@
      content: '';
      position: absolute;
      left: -42px;
      bottom: 50px;
      /* Style for "Эллипс 2 к" */
      width: 17px;
      height: 17px;
      border-radius:   50%;
      background-color: #fbf9ff;
      // background-color: #b3abdb;


    }
  }

  &__subtitle {
    @include font(300, normal, 31px, 38px, $helvThin);
    color: #efefef;
    text-transform: uppercase;
    letter-spacing: 6px;
    padding-bottom: 15px;
    margin-bottom: 12px;

    position: relative;
    left: -5px;
    width: calc(100% + 5px);

    @media #{$tablet} {
      @include font(300, normal, 46px, 59px, $helvThin);
      left: 0;
      margin-bottom: 30px;
    }
  }


  &__tab-index {
    position: absolute;
    top: 24px;
    left: 520px;
    @include font(300, normal, 81px, 81px, $helvUltraL);
    color: #ffffff;
    line-spacing: 3px;

    @media #{$tablet} {
      display: none;
    }
  }
}
