.footer {

  width: 100%;
  position: absolute;
  bottom: 0;

  @media #{$tablet} {
    display: none;  
  }

  &__balls {
    position: relative;
    width: 100px;
    height: 60px;
    margin: 0 auto;

    @media #{$wide} {
      display: none;
    }

    & i {
      position: absolute;
      width: 17px;
      height: 17px;
      background: #fff;
      border-radius:   50%;

      &:first-child {
        top: 0;
        left: 0;
      }

      &:nth-child(2) {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 60px;
        width: 3px;
        background: #6b6a6c;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);

          width: 17px;
          height: 17px;
          background: #fff;
          border-radius:   50%;
        }
      }

      &:last-child {
        top: 0;
        right: 0;
      }
    }
  }

  & .shell {
    max-width: 1000px;
    margin: 0 auto;
  }

  &__menu {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;

    @media #{$tablet} {
      display: none;
    }
  }

  &__item {
    position: relative;
    overflow: hidden;

    &.active {

      & a {
        color: #ffffff;

        &:hover {
          & + i {
            transform: translateY(60%);
          }
        }
      }

      & i {
        position: absolute;
        width: 7px;
        height: 70px;
        left: 50%;
        bottom: 0;
        z-index: -1;
        transition: 0.3s ease-out;
        transform: translateY(0%);

        &::before,
        &::after {
          content: '';
          position: absolute;

        }

        &::before {
          height: 70px;
          width: 1px;
          background: #414042;
        }

        &::after {
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background: #fff;
          left: -3px;
        }
      } //- EOF <i>
    } //- EOF li.active

    & a {
      display: block;
      @include font(400, normal, 12.5px, 80px, $helvThin);
      color: rgba(255, 255, 255, 0.4);
      color: hsla(0, 100%, 100%, 0.4);
      text-decoration: none;
      transition: 0.3s ease-out;
      letter-spacing: 12.5px;

      &:hover {
        color: #ffffff;
        // background: rgba(204, 204, 204, 0.44);

        & + i {
          transform: translateY(70%);
        }
      }
    }

    & i {
      position: absolute;
      width: 7px;
      height: 70px;
      left: 50%;
      bottom: 0;
      z-index: -1;
      transition: 0.3s ease-out;
      transform: translateY(100%);

      &::before,
      &::after {
        content: '';
        position: absolute;

      }

      &::before {
        height: 70px;
        width: 1px;
        background: #414042;
      }

      &::after {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #fff;
        left: -3px;
      }
    } //- EOF <i>

  }


}
