

body.page-index {

  & .wrapper {
    min-width: 320px;
    max-width: 1920px;

    overflow: hidden;




    @media #{$wide} {
      width: auto;
    }
  }
}

.page-index .wrapper {

}

@media screen and (max-width: 1199px) {
  .main {
    padding-bottom: 150px;
  }
}

.portfolio {
  // opacity: 0.01;
  opacity: 0.11;
  // color: #fff;
  color: red;
  font-family: "Helvetica Neue Cyr";
  font-size: 396px;
  font-weight: 700;
  line-height: 109.97px;
  letter-spacing: 3px;
  text-align: center;

  position: absolute;
  top: 122px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.back {
  position: fixed;
  padding-left: 80px;

  outline: 4px dashed darkorchid;
  outline-offset: -4px;

  &__line-top {
    /* Style for "Layer 19 c" */
    width: 1px;
    height: 140px;
    background-color: #fbf9ff;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      /* Style for "Эллипс 2 к" */
      width: 9px;
      height: 8px;
      background-color: #ffffff;
      bottom: -4px;
      left: -4px;
      border-radius: 50%;
    }
  }

  &__line-bottom {
    /* Style for "Layer 19 c" */
    position: relative;
    top: 300px;
    width: 1px;
    height: 803px;
    background-color: #fbf9ff;
  }

  &__arrow {
    display: block;
    position: absolute;
    top: 158px;
    left: 0;
    width: 110px;
    height: 110px;
    background: url('images/bg-back-dots.png') no-repeat;
    cursor: pointer;
    user-select: none;

    transition: 0.6s ease-out;
    &:hover {
      outline: 2px solid hsla(19, 56%, 40%, 0.72);
    }

    &::before {
      content:'v';
      font-size: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      color: #fff;
      transform: rotate(90deg);
    }
  }
}

.user-block {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 145px;

  outline: 2px dashed dodgerblue;
  outline-offset: -2px;
}

.sort {

  position: absolute;
  top: 200px;
  right: 80px;

  outline: 2px dashed orange;
  outline-offset: -2px;


  &__year {
    color: #fff;
    margin-bottom: 40px;
    /* Style for "2017" */
    width: 40px;
    height: 6px;
    color: #efefef;
    font-family: "Helvetica Neue Cyr";
    font-size: 8px;
    font-weight: 700;
    line-height: 21.05px;
    text-transform: uppercase;
    /* Text style for "2017" */
    letter-spacing: 6.59px;
  }

  &__line {

  }
}



.content {

  &__item {
    width: 1200px;
    height: 700px;

    outline: 6px dashed crimson;
    outline-offset: -6px;
  }
}
