

body.page-index {

  & .wrapper {
    min-width: 320px;
    max-width: 1920px;
    padding-bottom: 165px;

    overflow: hidden;




    @media #{$wide} {
      width: auto;
    }
  }
}

.page-index .wrapper {

}

@media screen and (max-width: 1199px) {
  .main {
    padding-bottom: 150px;
  }
}

.portfolio {
  @include font(700, normal, 396px, 396px, $helvBold);
  opacity: 0.01;
  // opacity: 0.11;
  color: #fff;
  // color: red;
  letter-spacing: 3px;
  text-align: center;

  position: absolute;
  overflow: hidden;
  top: 100px;
  max-width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;

  @media #{$tablet} {
    display: none;
  }
}


@import '01-1__back';
@import '01-2__sort';
@import '01-3__user-block';
