

body.page-index {

  & .wrapper {
    min-width: 320px;
    max-width: 1920px;
    padding-bottom: 165px;

    overflow: hidden;




    @media #{$wide} {
      width: auto;
    }
  }
}

.page-index .wrapper {

}

@media screen and (max-width: 1199px) {
  .main {
    padding-bottom: 150px;
  }
}

.portfolio {
  @include font(700, normal, 396px, 109.97px, $helvBold);
  // opacity: 0.01;
  opacity: 0.11;
  // color: #fff;
  color: red;
  letter-spacing: 3px;
  text-align: center;

  position: absolute;
  top: 122px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.back {
  width: 110px;
  position: fixed;
  padding-left: 83px;

  height: 100%;

  overflow: hidden;

  outline: 4px dashed rgba(153, 50, 205, 0.47);
  outline-offset: -4px;

  &__line-top {
    /* Style for "Layer 19 c" */
    width: 1px;
    height: 143px;
    background-color: #fbf9ff;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      /* Style for "Эллипс 2 к" */
      width: 8px;
      height: 8px;
      background-color: #fbf9ff;
      bottom: -4px;
      left: -4px;
      border-radius: 50%;
    }
  }

  &__line-bottom {
    /* Style for "Layer 19 c" */
    position: absolute;
    top: 277px;
    width: 1px;
    bottom: 0;
    background-color: #fbf9ff;
  }

  &__arrow {
    display: block;
    position: absolute;
    top: 145px;
    left: 0;
    width: 110px;
    height: 130px;
    background: url('images/bg-back-dots.png') no-repeat;
    background-position: right 5px top 10px;
    cursor: pointer;
    user-select: none;

    transition: 0.6s ease-out;
    &:hover {
      outline: 2px solid #e6b501;

      &::before {
        color: #e6b501;
      }
    }

    &::before {
      content:'v';
      font-size: 45px;
      position: absolute;
      top: 40px;
      left: 70px;
      color: #fff;
      transform: rotate(90deg);
      transition: 0.4s ease-out;
    }
  }
}

.user-block {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 145px;

  outline: 2px dashed dodgerblue;
  outline-offset: -2px;
}

.lang {

  &__radio {
    @include font(300, normal, 12px, 12px, $helvThin);
    color: #fff;

    &.active {
      color: #585859;
    }
  }
}

.sort {

  position: absolute;
  overflow: hidden;
  // z-index: 10;
  padding-top: 145px;
  top: 0;
  right: 0;
  width: 150px;
  height: 100%;

  outline: 2px dashed orange;
  outline-offset: -2px;

  &__list {
    z-index: 22;
    position: relative;
  }

  &__item {

    &.active .sort__link {
      color: #efefef;
    }
  }

  &__link {
    display: block;
    @include font(700, normal, 8px, 21.05px, $helvBold);
    color: #484848;

    padding-bottom: 40px;
    text-transform: uppercase;

    letter-spacing: 6.59px;

    transition: 0.3s ease-out;
    text-decoration: none;

    &:hover {
      color: #efefef;
    }
  }

  &__line {
    position: absolute;
    top: 150px;
    right: 80px;
    width: 1px;
    height: 938px;
    background-color: #ffffff;
  }

  &__arr {
    position: absolute;
    right: 76px;
    width: 9px;
    height: 8px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: 0.3s ease-out;
  }
}
