.nav {


  position: relative;

  @media #{$wide} {
    max-width: 625px;
  }

  &__scrollbar {
    @media #{$wide} {
      display: none;
    }
  }

  &::before {
    content:'';
    position: absolute;
    top: -12px;
    left: 0;
    right: 0px;
    height: 2px;
    max-width: 620px;
    background-color: hsla(260, 100%, 99%, 0.3);
    background-color: rgba(252, 250, 255, 0.3);

    @media #{$tablet} {
      display: none;
    }
  }

  &__list {

    @media #{$tablet} {
      // outline: 2px dashed white;
      // outline-offset: -2px;
      // margin-top: 20px;
      // margin-bottom: 20px;
    }

    @media #{$wide} {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: space-between;
    }
  }

  &__item {
    display: block;

    // display: block;
    text-transform: uppercase;
    letter-spacing: 6.59px;

    cursor: pointer;
    user-select: none;

    @media #{$wide} {
      &:nth-child(1) {
        color: #fff;
      }
    }

    @media #{$tablet} {
      text-align: center;
      padding-top: 35px;
      padding-bottom: 35px;
    }

    @include font(300, normal, 8.33px, 21px, $helvLight);
    color: #484848;
    text-decoration: none;
    transition: 0.3s ease-out;

    @media #{$tablet} {
      @include font(300, normal, 29px, 21px, $helvLight);
      color: #484848;

      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);

      // outline: 2px dashed tan;
      // outline-offset: -2px;


    } //- EOF {tablet}

    &:hover {
      color: #fff;

      @media #{$tablet} {
        color: #fff;
      }

    }

    &.active {
      color: #fff;

      @media #{$tablet} {
        @include font(500, normal, 29px, 21px, $helvMedium);
      }
    }
  }

} //- EOF nav.nav


/* Frame */


@media #{$tablet} {
  .nav .owl-item.center .nav__item {
    @include font(500, normal, 29px, 21px, $helvMedium);
    color: #fff;
  }

  .nav .owl-item {
    & .nav__item[data-menuId="01"] {
      width:160px !important;
    }

    & .nav__item[data-menuId="02"] {
      width:220px !important;
    }

    & .nav__item[data-menuId="03"] {
      width:270px !important;
    }

    & .nav__item[data-menuId="04"] {
      width:220px !important;
    }

    & .nav__item[data-menuId="05"] {
      width:195px !important;
    }

    & .nav__item[data-menuId="06"] {
      width:210px !important;
    }

    & .nav__item[data-menuId="07"] {
      width:130px !important;
    }
  }


  /* Scrollbar */

  .nav__scrollbar {

    width: 100%;
    margin: 0 auto;
    // margin: 3em 0 1em 0;
    height: 3px;
    background: #2b2b2d;
    line-height: 0;

    & .handle {
    	// width: 100px;
    	// height: 100%;
      width: 17px;
      height: 17px;
      border-radius: 50%;
    	background: #fff;
    	cursor: pointer;
      position: absolute;
      left: 50%;
      transform:translateX(-50%);
      top: -8px;
    }
  }


}
