
.header {

  margin-top: 47px;
  padding-left: 170px;

  outline: 2px dashed green;
  outline-offset: -2px;

  & .shell {
    margin: 0 auto;
    // padding-left: 15px;
    // padding-right: 15px;

    @media #{$wide} {
      max-width: 1920px;
      // padding-left: 30px;
      // padding-right: 30px;
    }
  }

  & .container {
    padding: 160px 0 20px 0;

    // @media screen and (max-width: 719px) {
    //   padding-top: 25px;
    //   padding-bottom: 35px;
    // }
  }

  & .stage {

  }
}

.header__title {
  @include font(600, normal, 74px, 21px, $helvBold);
  color: #efefef;

  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: -30px;
    top: 50%;
    /* Style for "Эллипс 2 к" */
    width: 9px;
    height: 8px;
    border-radius:   50%;
    background-color: #fbf9ff;
    // background-color: #b3abdb;
  }
}

.header__subtitle {
  @include font(300, normal, 31px, 38px, $helvThin);
  color: #efefef;
  text-transform: uppercase;
  letter-spacing: 13.5px;
}

nav.nav {

}

.nav__list {

}

.nav__item {
  @include font(300, normal, 8.33px, 21px, $helvLight);
  color: #484848;


  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 6.59px;

  cursor: pointer;
  user-select: none;
  transition: 0.3s ease-out;
  margin-right: 30px;

  &.active,
  &:hover {
    color: #fff;
  }
}
