.content {

  position: relative;
  z-index: 11;

  &__container {
    position: relative;
    height: 100%;
    @include clearfix;
  }
  &__item {
    height: 100%;
    margin-bottom: 40px;
  }
  &__image {
    float: left;
    display: block;
    margin-top: 50px;
    width: 524px;
    height: 294px;

    z-index: 10;
    position: relative;

    // outline: 3px dashed tan;
    // outline-offset: -3px;

    @media #{$tablet} {
      width: 827px;
      height: 463px;
    }
  }

  &__more {
    position: absolute;
    bottom: -9px;
    right: -85px;
    @include font(400, normal, 12.5px, 18.25px, $helvRegular);
    color: #adadad;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    transition: 0.3s ease-out;

    z-index: 2;

    &:hover {
      color: #e6b501;
    }
  }

  &__huge-num {
    position: absolute;
    top: 260px;
    left: 50%;
    transform: translateX(-50%);
    @include font(500, normal, 963px, 855px, $helvMedium);
    color: ffffff;
    color: ffffff;
    opacity: 0.015;
    // transition: 0.3s ease-out;

    @media #{$tablet} {
      display: none;
    }
  }

}
