

.slider {

  & .shell {
    @media #{$tablet} {
      // padding-left: 87px;
      // padding-right: 87px;
      // padding-left: 8.7%; /* 87 / 1000 */
      // padding-right: 8.7%; /* 87 / 1000 */
    }
  }
}

.content__item-list {
  // max-width: 1300px;
  position: relative;
  margin: 10px 0;
}


/* Frame */
.slider .frame {

  margin-bottom: 130px;
	overflow: hidden;

  @media #{$wide} {
    height: 1000px;
    line-height: 1000px;
  }

  @media #{$wide} {
    height: 400px;
    line-height: 400px;
  }

  & > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 50px;
  }

  & > ul > li {
    float: left;
    width: 227px;
    height: 100%;
    padding: 0;
    // background: #333;
    color: #ddd;
    text-align: center;
    cursor: pointer;

    opacity: 0.5;

    @media #{$wide} {
      width: 1200px;
    }

    @media #{$tablet} {
      width: 826px;
      transition: 0.6s ease-out;
      opacity: 0;

    }

    // transform: scale(1);
  }

  & > ul > li.active {
    color: #fff;
    // background: #a03232;

    // transform: scale(1);
    // outline: 6px dashed crimson;
    // transition: 0.6s ease-out;
    opacity: 1;
  }
}



/* Scrollbar */
.slider .scrollbar {
  width: 810px;
  margin: 0 auto;
	// margin: 3em 0 1em 0;
	height: 1px;
	background: #2b2b2d;
	line-height: 0;

  & .handle {
  	// width: 100px;
  	// height: 100%;
    width: 9px;
    height: 8px;
    border-radius: 50%;
  	background: #fff;
  	cursor: pointer;
    position: relative;
    top: -4px;
  }

  & .handle .mousearea {
  	position: absolute;
  	top: -9px;
  	left: 0;
  	width: 100%;
  	height: 20px;
  }

  &__count {
    padding-top: 20px;
    @include clearfix;

    @media #{$wide} {
      display: none;
    }
  }

  &__curr,
  &__total {
    @include font(300, normal, 29px, 21px, $helvRegular);
    color: #707070;
  }

  &__curr {
    color: #fff;
    float: left;
  }

  &__total {
    float: right;
  }
}




.frame > ul > li.active .content__item.animated:hover {
  & .bordered-arrowed__top-line,
  & .bordered-arrowed__bottom-line {

  }

  & .bordered-arrowed__top-line {
    width: 750px;
  }

  & .bordered-arrowed__bottom-line {
    width: 720px;
  }
}


.view-more {

  border-top: 3px solid #6e6d70;
  height: 120px;
  transition: 0.3s ease-out;
  &:hover {
    background: rgba(255, 255, 255, 0.05);

    & .view-more__title {
      color: #fff;
    }
  }

  &__title {
    @include font(400, normal, 29px, 120px, $helvRegular);
    color: #707070;
    width: 300px;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.3s ease-out;
  }

  &__content {
    display: none;
    @include font(400, normal, 29px, 29px, $helvRegular);
    color: #707070;
  }
}
