.user-block
  .shell
    .my-vision
      .my-vision__text 
        | M
        span y
        | .
      .my-vision__text
        | V
        span i
        
    .make-order
      | make order
      i
  
    .switcher
      form.lang
        input#toggle(type='checkbox', name='optionsRadios', value='option1', checked='')
        div.pointer
        label.label(for='toggle')
          i
      


    .sound
      .speaker
      audio#player
        source(src='http://madperfect.com/audio/explosion.mp3', type='audio/mp3')
        source(src='http://madperfect.com/audio/explosion.ogg', type='audio/ogg')
