
// header
header.header
  .shell
    .container
      .stage
        
        .header__title
          h1.header__main-title Portfolio
          .header__subtitle web development
        
        nav.nav(data-SCROLLBAR)
          .nav__scrollbar
            .handle
              .mousearea
          #nav-slider.frame
            ul.clearfix
              li
          ul.nav__list
            li.nav__item.active: a Web
            li.nav__item: a mobile
            li.nav__item: a program
            li.nav__item: a design
            li.nav__item: a video
            li.nav__item: a photo
            li.nav__item: a 3d
          
      
            
// eof header
  
