
// header
header.header
  .shell
    .container
      .stage
        
        .header__title
          h1.header__main-title Portfolio
          .header__subtitle web development
        
        nav.nav(data-SCROLLBAR)
          .nav__scrollbar
            .handle
          
          .nav__list.owl-carousel
            a.nav__item.active(href="javascript:;" data-menuId="01" data-group="web") Web
            a.nav__item(href="javascript:;" data-menuId="02" data-group="mobile") mobile
            a.nav__item(href="javascript:;" data-menuId="03" data-group="program") program
            a.nav__item(href="javascript:;" data-menuId="04" data-group="design") design
            a.nav__item(href="javascript:;" data-menuId="05" data-group="video") video
            a.nav__item(href="javascript:;" data-menuId="06" data-group="photo") photo
            a.nav__item(href="javascript:;" data-menuId="07" data-group="3d") 3d
          
      
            
// eof header
  
