.content
  
  
  
  .content__item-list
    //- item
    //- .content__item
    //-   .content__container
    //-     .content__bordered
    //-     .content__more
    //-       a.content__link(href="javascript:;")
    //-         
    //-   aside.content__aside Lorem ipsum
    #my-product-slider.frame
      ul.clearfix
        include 03-1__item
        include 03-1__item
        li 3
        li 4
    .scrollbar
      .handle
        .mousearea
      
      

      
