.content.slider
  
  .content__item-list
    #main-slider.frame
      ul.clearfix
        include 03-1__item
        include 03-1__item
        li 3
        li 4
    .scrollbar
      .handle
        .mousearea
      
      

      
