.content.slider
  
  .shell
  
    .content__item-list
      #main-slider.frame
        ul.clearfix
          li(data-date-created="2017-06-29" data-groups='["web","mobile","2017"]')
            include 03-1__item
          li(data-date-created="2017-06-29" data-groups='["design","mobile","2017"]')
            include 03-1__item
          li(data-date-created="2017-06-29" data-groups='["program","photo","2017"]')
            include 03-1__item
          li(data-date-created="2017-06-29" data-groups='["mobile","design","2017"]')
            include 03-1__item
          li(data-date-created="2017-06-29" data-groups='["mobile","3d","2017"]')
            include 03-1__item
          li(data-date-created="2016-06-29" data-groups='["nature","design","2016"]')
            include 03-1__item
          li(data-date-created="2016-06-29" data-groups='["3d","program","2016"]')
            include 03-1__item
          li(data-date-created="2016-06-29" data-groups='["3d","mobile","2016"]')
            include 03-1__item
          li(data-date-created="2016-06-29" data-groups='["3d","mobile","2015"]')
            include 03-1__item
          li(data-date-created="2015-06-29" data-groups='["nature","3d","2015"]')
            include 03-1__item
          li(data-date-created="2015-06-29" data-groups='["mobile","3d","2015"]')
            include 03-1__item
      .scrollbar
        .handle
          .mousearea
        .scrollbar__count
          .scrollbar__curr 01
          .scrollbar__total 115
          
        

      
