.content.slider
  
  .shell
  
    .content__item-list
      #main-slider.frame
        ul.clearfix
          include 03-1__item
          include 03-1__item
      .scrollbar
        .handle
          .mousearea
        .scrollbar__count
          .scrollbar__curr 01
          .scrollbar__total 115
          
        

      
