
// footer
footer.footer
  .shell
    .container
      .stage

        .copy Nakitel ©2014
          
        ul.nav
          li.nav__item 
            a.nav__link(href="javascript:;") Контакты
          li.nav__item 
            a.nav__link(href="javascript:;") Акции
          li.nav__item 
            a.nav__link(href="javascript:;") Каталог
          li.nav__item 
            a.nav__link(href="javascript:;") Оплата / Доставка
          li.nav__item 
            a.nav__link(href="javascript:;") Гарантия

        
        //- img.meetup__image(src=require('../images/frame_01__meetup.png'))

// eof footer
  
