*, ::before, ::after {
    box-sizing: border-box;
}
html {
    font-size: 16px;
    height: 100%;
    line-height: 1;
}
body {
    color: #fff;
    font-family: $helvRegular;
    font-size: 16px;
    line-height: 1;
    margin: 0;
    min-height: 100%;
    padding: 0;
    position: relative;
    background: #070708 url('images/bg.jpg') top center;
    background-repeat: no-repeat;
}
img {
    height: auto;
    max-width: 100%;
}
blockquote {
    margin: 0;
}
button {
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
figure, img {
    margin: 0;
    padding: 0;
}

svg {
  height: 8em;
  width: 100%;
}
