extends ../base
block title
  | Portofino Beach Resort
block main
  body.page-product
    .wrapper
      
      include 01__pug/01-1__back-sort-portfolio

      
      //- header
      include 01__pug/02__header
      //- eof header


      //- user-block
      include 01__pug/01-2__user-block
      //- eof user-block


      //- content
      include 01__pug/03-0__content
      //- eofcontent



      include 01__pug/05__footer
            


//- img(src=require('./images/frame_01__meetups.png') width="100")
