extends ../base
block title
  | product page
block main
  body.page-index
    .wrapper
      
      .back
        .back-arrow
        .back-line
          
      
      //- header
      .top-block
        header.header
          .header__title
          .header__subtitle
            
          .tabs__counter#tCounter
            
        //- tabs && content
        
      .content
        
        .tabs__btns#tItems
          .tabs__btn-item        
        
          

        .tabs__content-text#tabs_text
          //- container
          .tabs__content-list
            .tabs__content-item
              .tabs__title
              .tabs__subtitle
              .tabs__text
                
        .content-thumbs#tabs_thumbs
          .thumbs__shell
          .thumbs__container
          .thumbs-list
            
            .thumb-item
              .thumb-title
              .thumb-subtitle
              .thumb-image
              .thumb-text
              
        //- eoftabs
            

      //- EOF header




      //- user-block
      .user-block
        .lang
          label
            | EN
            input(type='radio')
          label
            | RU
            input(type='radio')
        .sound
      //- eof user-block




      //- content
      .content
        
        
        
        .content__item-list
          //- item
          .content__item
            .item-container
              .bordered
              .bordered__more
                a.view__more(href="javascript:;")
                  
            aside Lorem ipsum
            
            
        .SCROLLBAR-FOR-ITEMS
      //- eofcontent



      footer.footer
        .footer__menu
          .menu__list
            .menu__item 0000
            .menu__item 0000
            .menu__item 0000
            .menu__item 0000
