.left-column-line 
  .left-column-line__text portofino
.tab-content
  .tab-content__title Maecenas scelerisq
  .tab-content__subtitle #02 Morbi nisl massa, volutpat ac magna vitae

  .tab-content__text
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod nulla vitae sem blandit, id interdum magna porttitor. Nulla egestas vitae ante id tempor. Sed finibus molestie ultrices.  nunc justo, vestibulum et vulputate vitae. Mauris sollicitudin pretium blandit. 
  .tab-content__text
    | Morbi nisl massa, volutpat ac magna vitae, maximus tincidunt erat. Nunc massa est, malesuada non ex sit amet, faucibus convallis antorem ipsum dolor sit amet, consectetur adipiscing elit. 
  .tab-content__text
    | Nam euismod nulla vitae sem blandit, id interdum magna porttitor. Nulla egestas vitae ante id tempor. 
    
  .tab-content__subtitle Morbi nisl massa, volutpat ac magna vitae
  .tab-content__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod nulla vitae sem blandit, id interdum magna porttitor. Nulla egestas vitae ante id tempor. Sed finibus molestie ultrices.  nunc justo, vestibulum et vulputate vitae. Mauris sollicitudin pretium blandit. 
